<main class="w-full px-10 py-5">
  <section class="w-full content-title flex justify-between items-center">
    <h2 class="text-[1.2rem] font-[600]">Create Blog</h2>
    <div class="create-btn">
      <button
        routerLink="/my-blogs"
        class="!bg-[#6267a9] !w-[150px] !text-white !text-[1rem] !rounded-[10px]"
        mat-raised-button
      >
        <mat-icon>back_arrow</mat-icon> Back
      </button>
    </div>
  </section>

  <form [formGroup]="blogForm">
    <div class="w-full form-section mt-10 border-solid border-t-1 border-[#e5e3e3] px-50">

      <!-- Title -->
      <div class="grid grid-cols-6 mt-5 gap-3">
        <div class="form-field col-span-6">
          <mat-form-field class="w-full" appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title" />
            <mat-hint *ngIf="form['title'].invalid && (form['title'].touched || form['title'].dirty)" class="error">
              {{ showError("title", "Title", "Provide") }}
            </mat-hint>
          </mat-form-field>
        </div>
      </div>

      <!-- Category & Publish Date -->
      <div class="grid grid-cols-6 mt-5 gap-3">
        <div class="form-field col-span-3">
          <mat-form-field class="w-full" appearance="outline">
            <mat-label>Category</mat-label>
            <input matInput formControlName="category" />
            <mat-hint *ngIf="form['category'].invalid && (form['category'].touched || form['category'].dirty)" class="error">
              {{ showError("category", "Category", "Provide") }}
            </mat-hint>
          </mat-form-field>
        </div>

        <div class="form-field col-span-3">
          <mat-form-field class="w-full" appearance="outline">
            <mat-label>Publish On</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="publishedOn" />
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-hint *ngIf="form['publishedOn'].invalid && (form['publishedOn'].touched || form['publishedOn'].dirty)" class="error">
              {{ showError("publishedOn", "Publish Date", "Provide") }}
            </mat-hint>
          </mat-form-field>
        </div>
      </div>

      <!-- Content as textarea -->
      <div class="grid grid-col-6 mt-5">
        <mat-form-field class="w-full" appearance="outline">
          <mat-label>Content</mat-label>
          <textarea matInput formControlName="content" rows="15"></textarea>
          <mat-hint *ngIf="form['content'].invalid && (form['content'].touched || form['content'].dirty)" class="error">
            {{ showError("content", "Content", "Provide") }}
          </mat-hint>
        </mat-form-field>
      </div>

      <!-- Submit Button -->
      <div class="create-btn mt-5 float-right">
        <button (click)="submit()"
          class="!bg-[#6267a9] !w-[150px] !text-white !text-[1rem] !rounded-[10px]"
          mat-raised-button
        >
          Update
        </button>
      </div>

    </div>
  </form>
</main>
