<main class="w-full px-10 py-5">
  <section class="w-full content-title flex justify-between items-center">
    <h2 class="text-[1.2rem] font-[600]">Update Blog</h2>
    <div class="create-btn">
      <button
        routerLink="/my-blogs"
        class="!bg-[#6267a9] !w-[150px] !text-white !text-[1rem] !rounded-[10px]"
        mat-raised-button
      >
        <mat-icon>back_arrow</mat-icon> Back
      </button>
    </div>
  </section>
  <form [formGroup]="createForm">
    <div
      class="w-full form-section mt-10 border-solid border-t-1 border-[#e5e3e3] px-50"
    >
      <div class="grid grid-cols-6 mt-5 gap-3">
        <div class="form-field col-span-6">
          <mat-form-field class="w-full" appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput />
          </mat-form-field>
        </div>
      </div>

      <div class="grid grid-cols-6 mt-5 gap-3">
        <div class="form-field col-span-3">
          <mat-form-field class="w-full" appearance="outline">
            <mat-label>Category</mat-label>
            <mat-select>
              <mat-option value="one">First option</mat-option>
              <mat-option value="two">Second option</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form-field col-span-3">
          <mat-form-field class="w-full" appearance="outline">
            <mat-label>Publish On</mat-label>
            <input matInput [matDatepicker]="picker" />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="grid grid-col-6">
        <ngx-suneditor
          formControlName="content"
          [options]="{
            width: '100%',
            height: '250px',
            buttonList: [
              ['undo', 'redo', 'bold', 'italic', 'underline', 'link', 'image']
            ]
          }"
        ></ngx-suneditor>
      </div>
      <div class="create-btn mt-5 float-right">
        <button
          class="!bg-[#6267a9] !w-[150px] !text-white !text-[1rem] !rounded-[10px]"
          mat-raised-button
        >
          Create
        </button>
      </div>
    </div>
  </form>
</main>
