<section class="w-full h-auto px-50 relative" *ngIf="blog">
  <div class="title w-full">
    <!-- Blog Title -->
    <h2 class="text-3xl font-semibold text-gray-700 text-justify text-wrap">
      {{ blog?.title }}
    </h2>

    <!-- Category -->
    <p class="text-[1.2rem] mt-5 font-medium text-blue-500">
      {{ blog?.category }}
    </p>

    <!-- Author Section -->
    <div
      class="author mt-5 flex justify-between border-y-1 border-y-gray-200 py-2"
    >
      <div class="flex gap-2 items-center">
        <img
          [src]="getImageURI(blog?.user?.profileImageUrl)"
          class="w-10 h-10 rounded-full"
          alt="author"
        />
        <div>
          <h4 class="font-medium px-2 text-[grey]">
            {{ blog?.user?.firstName }} {{ blog?.user?.lastName }}
          </h4>
          <h4 class="text-[0.8rem] font-thin px-2 text-[grey]">
            {{ blog?.createdOn | date : "short" }}
          </h4>
        </div>
      </div>

      <!-- Likes & Comments -->
      <div class="likes-comments flex items-center gap-3">
        <span class="text-red-500 cursor-pointer" (click)="blog?.likedUsers?.includes(userId) ? unlikeBlog() : likeBlog()">
          <mat-icon >
            {{ blog?.likedUsers?.includes(userId) ? "favorite" : "favorite_border" }}
          </mat-icon>
          
          <small>{{ blog?.likesCount }}</small>
        </span>
        <span class="cursor-pointer">
          <mat-icon (click)="openCommentsDrawer()">comment</mat-icon>
          <small>{{ blog?.commentsCount }}</small>
        </span>
      </div>
    </div>

    <!-- Blog Content -->
    <div class="content-section mt-10">
      <p class="text-justify text-xl">
        {{ blog?.content }}
      </p>
    </div>
  </div>
</section>
