<mat-card class="w-[400px] h-[500px] p-5 overflow-hidden">
  <div class="w-full h-full">
    <div class="flex justify-between items-center">
      <div class="user flex items-center">
        <img
          class="h-[40px] w-[40px]"
          src="assets/images/men.png"
          alt=""
          srcset=""
        />
        <div class="flex flex-col ml-3">
          <span class="text-[1.2rem] font-semibold username">Gowtham K</span>
          <span class="timeline text-[0.8rem]">29 minutes ago</span>
        </div>
      </div>

      <div class="like-button">
        <span
          class="flex justify-center items-center text-red-500 p-[5px] rounded-full"
        >
          <mat-icon>favorite</mat-icon>
        </span>
      </div>
    </div>

    <div class="content p-5 w-full h-full">
      <h3 class="title font-semibold mb-2">GK Blogging spacing for the titlte</h3>

      <h5 class="">
        🛠 Steps to Diagnose Find the component causing the issue: Look at the
        stack trace and find the component name right before ɵcmp. Search your
        code for where you use that component in a template or module. Check
        your module files: Is the component declared? Is the component
        standalone and imported correctly? Is it being used in another component
        without importing properly? 🛠 Steps to Diagnose Find the component
        causing the issue: Look at the stack trace and find the component name
        right before ɵcmp. Search your code for where you use that component in
        a template or module. Check your module files: Is the component
        declared? Is the component standalone and imported correctly? Is it
        being used in another component without importing properly? 🛠 Steps to
        Diagnose Find the component causing the issue: Look at the stack trace
        and find the component name right before ɵcmp. Search your code for
        where you use that component in a template or module. Check your module
        files: Is the component declared? Is the component standalone and
        imported correctly? Is it being used in another component without
        importing properly?
      </h5>
    </div>
  </div>
</mat-card>
