<section class="w-full h-full">
  <div class="p-[50px]">
    <!-- Page Title -->
    <h2 class="font-bold text-3xl mt-[20px]">Create Blog</h2>
    <h4 class="text-[16px] mt-[10px] text-gray-600">
      Share your thoughts, ideas, and stories with the world 🚀
    </h4>

    <form [formGroup]="blogForm">
      <div class="form-section flex flex-col mt-[30px] w-[80%]">
        <!-- Title -->
        <mat-form-field appearance="outline" class="mt-5">
          <mat-label>Blog Title</mat-label>
          <input matInput formControlName="title" />
          <mat-hint
            *ngIf="
              form['title'].invalid &&
              (form['title'].touched || form['title'].dirty)
            "
            class="error"
          >
            {{ showError("title", "Title", "Provide") }}
          </mat-hint>
        </mat-form-field>

        <!-- Category -->
        <mat-form-field appearance="outline" class="mt-5">
          <mat-label>Category</mat-label>
          <mat-select formControlName="category">
            <mat-option value="Technology">Technology</mat-option>
            <mat-option value="Health">Health</mat-option>
            <mat-option value="Lifestyle">Lifestyle</mat-option>
            <mat-option value="Education">Education</mat-option>
          </mat-select>
          <mat-hint
            *ngIf="
              form['category'].invalid &&
              (form['category'].touched || form['category'].dirty)
            "
            class="error"
          >
            {{ showError("category", "Category", "Select") }}
          </mat-hint>
        </mat-form-field>

        <!-- Publish Date -->
        <mat-form-field appearance="outline" class="mt-5">
          <mat-label>Publish On</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="publishedOn"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-hint
            *ngIf="
              form['publishedOn'].invalid &&
              (form['publishedOn'].touched || form['publishedOn'].dirty)
            "
            class="error"
          >
            {{ showError("publishedOn", "Publish date", "Select") }}
          </mat-hint>
        </mat-form-field>

        <!-- Content -->
        <mat-form-field appearance="outline" class="mt-5">
          <mat-label>Blog Content</mat-label>
          <textarea matInput rows="6" formControlName="content"></textarea>
          <mat-hint
            *ngIf="
              form['content'].invalid &&
              (form['content'].touched || form['content'].dirty)
            "
            class="error"
          >
            {{ showError("content", "Content", "Provide (min 50 chars)") }}
          </mat-hint>
        </mat-form-field>

        <!-- Submit -->
        <div class="flex justify-center mt-5">
          <button
            type="submit"
            class="bg-[#6267a9] hover:bg-indigo-700 text-white font-semibold py-2 px-4 rounded-full w-[100%]"
          >
            Create Blog
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
